:root {
  --bg-option: #f9e5cd;
  --color-h: #541d06;
  --color-span: #9b7056;
}

.header1 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;

  color: var(--color-h);
}

.header2 {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 500;

  color: var(--color-h);
}

.list {
  list-style: none;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
